{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <iframe frameborder="0" height="650" src="http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0Avbz2oU6HFFZdEV3VE9fU1FydEtGa2NYaGQ0bllTZnc&amp;font=Merriweather-NewsCycle&amp;maptype=toner&amp;lang=en&amp;height=650" width="100%"></iframe>
            <p class='text-center'><small><em>By Taylor Dobbs and Angela Evancie</em></small></p>
        </div>
    </div>

    <div class="row uw-row">
        <div class="col-xs-12 col-md-6">
            {% include "_underwriter.html" %}
        </div>
        <div class="col-xs-12 col-md-6">
            {% include "_marcomm.html" %}
        </div>
    </div>
</div>

{% endblock %}
